body {
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    text-align: center;
    font-size: xx-large;
    left: 0;
    position: absolute;
    width: 100%;
    font-size: 60px;
    font-family: calibri;
}
